@import '../styles/variables';

.formStep1 p {
    font-size: 14px;
    margin-bottom: 20px;
    color: $Cool-gray;
}

.formStep1 h1 {
    color: $marine-blue;
    margin-top: 15px
}

.formStep1 {
    display: none;
}

.formStep1.show {
    display: block;
}

label {
    margin-bottom: 5px;
    display: block;
    color: $marine-blue;
    font-size: 12px; 
    font-weight: 400;
}

input[type="text"] {
    font-size: 13px;
    font-weight: 500;
    color: $marine-blue;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 27px;
    border-radius: 5px;
    border: 1px solid $Light-gray; 
    transition: border 200ms ease;
    font-family: 'Ubuntu', sans-serif;
}

input::placeholder {
    color: $Light-gray;
}


input[type="text"]:focus-visible{
    outline: none !important;
    border: 1px solid $Purplish-blue; 
}

.labelWrapper {
    display: flex;
    justify-content: space-between;
}

.errMsg {
    display: none;
}

.errMsgVisible {
    display: block;
    color: red;
    font-weight: 500;
}