@import '../styles/variables';

.formStep2 {
    display: none;
}

.formStep2.show {
    display: block;
}

.formStep2 p {
    font-size: 14px;
    margin-bottom: 20px;
    color: $Cool-gray;
}

.formStep2 h1 {
    color: $marine-blue;
    margin-top: 15px
}

.checkBoxWrapper {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid $Light-gray;
    max-height: 160px;
    width: 120px;
    border-radius: 9px;
    transition: 250ms ease border-color; 
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
}

.box:hover {
    border-color: $Purplish-blue
}

input[name=arcade], input[name=advanced], input[name=pro] {
    opacity: 0;
}

.arcadeChecked,.advancedChecked,.proChecked {
    transition: 200ms ease border-color; 
}

.arcadeChecked {
    background-color: $Alabaster;
    border-color: $Purplish-blue
}

.advancedChecked {
    background-color: $Alabaster;
    border-color: $Purplish-blue
}

.proChecked {
    background-color: $Alabaster;
    border-color: $Purplish-blue
}

.iconImg {
    position: absolute;
    width: 35px;
    height: 35px;
}

.boxTitleWrapper {
    margin-top: 60px
}

.boxTitleWrapper h4{
    color: $marine-blue;
    font-weight: 500;
    margin: 0;
}


.radioWrapper h4 {
    color: $Light-gray;
    font-weight: 500;
    margin: 0;
}

.yearlyWrapper h5 {
    margin: 3px 0 2px 0;
    color: $Cool-gray;
    font-weight: 500;
    font-size: 13px;
}

.yearlyWrapper h6 {
    font-size: 11px;
    color: $marine-blue;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


.radioWrapper {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 9px;
    background-color: $Alabaster;
    bottom: 160px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 20px;
  }

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

h4.selected {
    color: $marine-blue;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $marine-blue;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}
  
input[name=switch]:checked + .slider {
    background-color: $marine-blue;
}

  
input[name=switch]:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}



