.stepsWrapper ul li {
    position: relative;
    margin-bottom: 20px;
}


.stepsWrapper {
  width: 200px;
  margin-top: 15px;
  color: rgb(251, 251, 251);
  position: absolute;
}

.circle {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    display: inline-block;
    position: relative;
    transition: 250ms ease color, 250ms ease background-color; 
}

.circle.active {
    background-color: white;
    color: black;
}

.circle.active h4 {
    color: black;
}

.circle h4 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.stepsWrapper ul {
    list-style-type: none;
    padding-left: 30px
}

.textWrapper {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: 100px
}

.stepsWrapper h5, h6 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
    font-weight: 100;
    padding-bottom: 2px;
}


